{% extends 'base.html.twig' %}

{% block title %}{% trans %}title_login{% endtrans %}{% endblock %}

{% block body %}

<!-- [ auth-signin ] start -->
<div class="auth-wrapper">
	<div class="auth-content">
		<div class="card">
			<div class="row align-items-center text-center">
				<div class="col-md-12">
					<div class="card-body">
						<img src="{{ asset('img/vision_long_2100x250.svg') }}" alt="" class="img-fluid mb-4">
						<h4 class="mb-3 f-w-400">{% trans %}title_login{% endtrans %}</h4>
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey | trans }}</div>
                        {% endif %}
												
						{{ form(form) }}

						<p class="mb-0 text-muted">{% trans %}no_account{% endtrans %} ? <a href="{{ path('app_register') }}" class="f-w-400">{% trans %}button_register{% endtrans %}</a></p>
						<p class="mb-0 text-muted">{% trans %}forgot_password{% endtrans %} ? <a href="{{ path('app_forgot_password_request') }}" class="f-w-400">{% trans %}button_reset{% endtrans %}</a></p>
                        

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ auth-signin ] end -->
{% endblock %}
