{% extends 'base.html.twig' %}

{% block title %}{% trans %}title_user_profile{% endtrans %}{% endblock %}
{% block subtitle %}{% if app.user.mainRank %}{{ app.user.mainRank.shortname }}. {% endif %}{{ app.user.fullName }}{% endblock %}


{% block body %}
<div class="row">
    <div class="col-lg-6">
      <h2>{% trans %}title_informations{% endtrans %}</h2>
      <hr>
      {{ form(form) }}    
      <hr>
      <h2>{% trans %}title_actions{% endtrans %}</h2>
      <a href="{{ path('me_password') }}" class="btn btn-success">{% trans %}button_change_password{% endtrans %}</a>
    </div>
    <div class="col-lg-6">
      <h2>{% trans %}title_documents{% endtrans %}</h2>
      <hr>
      {% include '_cells/documentTable.html.twig' with {'documents': pagination, 'noauthor': true, 'noaction': true} %}
      <div class="row">{{ knp_pagination_render(pagination) }}</div>
    </div>
  </div>
{% endblock %}
