{% extends 'base.html.twig' %}

{% block title %}{% trans %}title_directory_creation{% endtrans %}{% endblock %}

{% block body %}
<div class="row">
  <div class="col-lg-8 mx-auto p-3 py-md-5">
    {{ form(form) }}
  </div>
</div>

{% endblock %}
