{% extends 'base.html.twig' %}

{% block title %}{% trans %}title_directory_edition{% endtrans %} #{{directory.id}} - "{{ directory.fullName }}"{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-lg-8">      
      {{ form(form) }}
    </div>
  </div>
{% endblock %}
