<h3>{% trans %}title_versus{% endtrans %} : {{ document.versus }}</h3>
<hr>
{{ document.directory.fullname }} says :
{{ document.content | raw }}
<hr>
{{ 'title_status'|trans }}: {{ document.status | trans }}