{% extends 'base.html.twig' %}

{% block title %}{% trans %}title_password_reset_email_sent{% endtrans %}{% endblock %}

{% block body %}
<!-- [ auth-signin ] start -->
<div class="auth-wrapper">
	<div class="auth-content">
		<div class="card">
			<div class="row align-items-center text-center">
				<div class="col-md-12">
					<div class="card-body">
						<img src="{{ asset('img/logo.png') }}" alt="" class="img-fluid mb-4">
						<h4 class="mb-3 f-w-400">{% trans %}title_email_sent{% endtrans %}</h4>
                        <p>
							{% trans %}text_reset_password_explanation{% endtrans %}
                            {% trans %}email_text_link_expire_in{% endtrans %} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                        </p>                        

						<p class="mb-0 text-muted">{% trans %}no_account{% endtrans %} ? <a href="{{ path('app_register') }}" class="f-w-400">{% trans %}button_register{% endtrans %}</a></p>
						<p class="mb-2">{% trans %}already_have_account{% endtrans %} ? <a href="{{ path('app_login') }}" class="f-w-400">{% trans %}button_login{% endtrans %}</a></p>
                        

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ auth-signin ] end -->
{% endblock %}