{% extends 'base.html.twig' %}

{% block title %}{% trans %}title_comment_edition{% endtrans %}{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-lg-8">
      {{ form(form) }}
    </div>
    <div class="col-lg-4">
        <h3>{% trans %}title_comment_belong_document{% endtrans %}</h3>
        <p><a href="{{ path('document_view', {'id': comment.document.id}) }}" class="btn btn-primary btn-sm">{{ ('documentType_' ~ comment.document.classShort)|trans }} - {{comment.document.title}}</a></p>
        <p>{% trans %}title_author{% endtrans %} {{comment.creator.fullName}}, {{comment.creator.mainGroup.shortname}}</p>
        <p>{% trans %}title_created_at{% endtrans %} {{comment.createdAt |date('_datetime.format'|trans)}}</p>
    </div>
  </div>
{% endblock %}
