{% extends 'base.html.twig' %}

{% block title %}{% trans %}title_group_subgroup_creation{% endtrans %}{% endblock %}

{% block body %}
  <div class="row">
      <div class="col-lg-6">
        {{form(form)}}
      </div>      
    </div>
{% endblock %}
