{% extends 'base.html.twig' %}

{% block title %}{% trans %}title_administration_watchdog{% endtrans %}{% endblock %}
{% block subtitle %}{% trans %}subtitle_administration_watchdog{% endtrans %}{% endblock %}

{% block body %}

<div class="row">
    <div class="col mb-5">
        <h4>{% trans %}title_filter{% endtrans %}</h4>       
        
        {% if id is null or id == '*' %}
            <h5>{% trans %}title_type{% endtrans %}: </h5>
            <a href="{{ path('admin_watchdog', {type:'*', id: id, action: action}) }}" class="btn btn-{{type == '*' ? 'info' : 'primary'}} m-1">*</a>
            {% for t in buttonsType %}
            {% set btntype = t.objectClass|replace({'App\\Entity\\': ''}) %}
            <a href="{{ path('admin_watchdog',{type: btntype, id: id, action: action}) }}" class="btn btn-{{type == btntype ? 'info' : 'primary'}} m-1">{{ btntype }}</a>
            {% endfor %}

        {% else %}
        <a href="{{ path('admin_watchdog', {type: type, id: '*', action: action}) }}" class="btn btn-warning m-1">{% trans %}button_back{% endtrans %}</a>
        {% endif %}


        {% if buttonsAction != null %}
        <h5>{% trans %}title_actions{% endtrans %}: </h5>
        <a href="{{ path('admin_watchdog',{type: type, id: id, action: '*'}) }}" class="btn btn-{{action == '*' ? 'info' : 'primary'}} m-1">*</a>
        {% for a in buttonsAction %}
            <a href="{{ path('admin_watchdog',{type: type, id: id, action: a.action }) }}" class="btn btn-{{action == a.action ? 'info' : 'primary'}} m-1">{{ a.action }}</a>
        {% endfor %}
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col">
        {% include '_cells/historyDisplay.html.twig' with {'history': pagination} %}
    </div>
</div>

<div class="row">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock %}
