<div class="table-responsive">
  <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          {% if noemail is not defined %}
          <th scope="col">{% trans %}title_email{% endtrans %}</th>
          {% endif %}
          <th scope="col">{% trans %}title_full_name{% endtrans %}</th>
          <th scope="col">{% trans %}title_group{% endtrans %}</th>
          <th scope="col">{% trans %}title_verified{% endtrans %}</th>
          <th scope="col">{% trans %}title_created_at{% endtrans %}</th>
          {% if noaction is not defined %}
          <th scope="col">{% trans %}title_actions{% endtrans %}</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
          {% for i in users %}
              <tr>
                  <th scope="row">{{i.id}}</th>
                  {% if noemail is not defined %}
                  <td><span class="hidethis">{{i.email}}</span></td>
                  {% endif %}
                  <td>
                    {{ i.fullName }} {% if 'ROLE_ADMIN' in i.roles %}<span class="text-warning">({% trans %}title_user_admin{% endtrans %})</span>{% endif %}
                    {% if i.isDesactivated %}<span class="text-danger">({% trans %}title_desactivated{% endtrans %})</span>{% endif %}
                  </td>
                  <td>{{i.mainGroup ? i.mainGroup.shortName : 'value_no_group'|trans}}, {{i.mainRank ? i.mainRank.shortName : 'value_no_rank'|trans}}</td>
                  <td>{{i.isVerified ? 'value_yes'|trans : 'value_no'|trans}}</td>
                  <td>{{i.createdAt |date('_datetime.format'|trans)}}</td>
                  {% if noaction is not defined %}
                  <td>
                    {% include '_cells/adminUserActions.html.twig' with {'user': i} %}
                  </td>
                  {% endif %}
              </tr>
          {% endfor %}
      </tbody>
  </table>
</div>