<div class="table-responsive">
  <table class="table table-dark table-striped">
    <thead>
      <tr>        
        <th scope="col">{% trans %}title_full_name{% endtrans %}</th>
        <th scope="col">{% trans %}title_group{% endtrans %} / {% trans %}title_rank{% endtrans %}</th>
        <th scope="col">{% trans %}title_actions{% endtrans %}</th>
      </tr>
    </thead>
    <tbody>
        {% for i in users %}
            <tr>                
                <td>{{ i.fullName }}<br><small>{% trans %}title_phone{% endtrans %}: {{i.phone ? i.phone : 'value_no_value'|trans}}</small></td>
                <td>{{i.mainGroup ? i.mainGroup.shortName : 'value_no_group'|trans}}<br><small>{{i.mainRank ? i.mainRank.name : 'value_no_rank'|trans}}</small></td>
                <td>
                  {% include '_cells/userActions.html.twig' with {'user': i} %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
</div>