{% extends 'base.html.twig' %}

{% block title %}{% trans %}title_folder_add_documents{% endtrans%} "{{ folder.title }}"{% endblock %}

{% block body %}
<div class="row">    
  <div class="col-12 col-md-5">{{form(searchForm)}}</div>
  <div class="col-12 col-md-3">
    {% if archive %}
    <a href="{{ path('folder_document', {id: folder.id}) }}" class="btn btn-info">{% trans %}button_go_to_not_archived{% endtrans %}</a>
    {% else %}
      <a href="{{ path('folder_document_archive', {id: folder.id}) }}" class="btn btn-primary">{% trans %}button_go_to_archived{% endtrans %}</a>
    {% endif %}
  </div>         
</div>
<div class="row">
  <div class="col-lg-8"><hr>
  {% include '_cells/documentTable.html.twig' with {'documents': pagination, addtofolder: folder.id } %}
  </div>
</div>
<div class="row">
  {{ knp_pagination_render(pagination) }}
</div>
{% endblock %}
