{% extends 'base.html.twig' %}

{% block title %}{% trans %}title_employee_administration{% endtrans %}: "{{ employee.fullName }}"{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-lg-4">                       
          {{form(form)}}                    
    </div>
    <div class="col-lg-4">
      {% include '_cells/userInformations.html.twig' with {'user': employee} %}
    </div>    
  </div>
{% endblock %}
