{% extends 'base.html.twig' %}

{% block title %}{% trans %}title_users_book{% endtrans %}{% endblock %}
{% block subtitle %}{% trans %}title_users_book{% endtrans %}{% endblock %}

{% block body %}
<div class="row">
  <div class="col-lg-5">
    {{form(searchForm)}}
  </div>    
</div>
<div class="row">
    <div class="col-md-8">
      {% include '_cells/userTable.html.twig' with {'users': pagination} %}
    </div>    
  </div>
  <div class="row">
    {{ knp_pagination_render(pagination) }}
  </div>
{% endblock %}
